name: Continuous Integration (CI)

on:
    push:
      branches:
        - develop
    pull_request:
      branches:
        - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.x'  

      - name: Install dependencies
        run: dotnet restore

      - name: Build the project
        run: dotnet build --configuration Release

      - name: Run tests
        run: dotnet test $(find . -name '*Tests.csproj') --configuration Release --no-build

  create-pull-request:
    runs-on: ubuntu-latest
    needs: build  
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
          ref: develop   # Faz o checkout da branch develop

    - name: Fetch all branches
      run: git fetch --all

    - name: Set up Git config
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.event.pusher.email }}"  
    
    - name: Check differences between develop and main
      run: |
          git diff origin/main..origin/develop  # Verifica as diferenças entre develop e main

    - name: Create a new branch for the PR
      run: |
            git checkout develop  # Faz o checkout da develop
            git pull origin develop  # Atualiza a develop com as últimas mudanças
            git checkout -b pr-branch-${{ github.sha }}  # Cria a nova branch
            git push origin pr-branch-${{ github.sha }}  # Faz o push da branch


    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: pr-branch-${{ github.sha }}    # Branch de origem do PR
        base: main                              # Branch de destino do PR
        title: "Merge into main"
        body: |
            Atualizando a branch main com as mudanças mais recentes da branch develop.
        draft: false       # Defina como true para criar um PR em modo rascunho
        
    